GH_PAT=<github pat>
GH_USER=<github user>
GH_ORG=<github organization>

# GH_SEARCH_QUERY="repo:liatrio/projecto11y.io"
# GH_SEARCH_QUERY="topic:security-guild org:liatrio type:public"
GH_SEARCH_QUERY="org:${GH_ORG} type:public"

# OTEL_COLLECTOR_IMAGE=liatrio/liatrio-otel-collector:localdev